<section class="rm-customer-section">
    <section class="customer-table-section">
        <section class="heading">CUSTOMER DATA</section>
        <section class="customer-table">
            <table class="customerTable">
                <thead>
                    <tr>
                        <th class="wdth-col-20">Customer Name</th>
                        <th class="wdth-col-20">Quantity</th>
                        <th class="wdth-col-20">Price</th>
                        <th class="wdth-col-20">Date</th>
                        <th class="wdth-col-20">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of details.customerDetailsObj">
                        <td class="wdth-col-20">{{data.name}}</td>
                        <td class="wdth-col-20">{{data.quantity}}</td>
                        <td class="wdth-col-20">{{data.price}}</td>
                        <td class="wdth-col-20">{{data.date}}</td>
                        <td class="wdth-col-20">{{data.status}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>
</section>